.text-muted.mb-4
  .row
    .col= @match.phase_before_type_cast
  .row
    .col
      = @match.venue.name
      = @match.venue.city
  .row
    .col= @match.kickoff_at

.row
  .col-12.col-md-4
    .row.display-4.mb-3
      .col-5.text-center= @match.left_team_score || "_"
      .col-2.text-center :
      .col-5.text-center= @match.right_team_score || "_"
    .row.mb-4
      .col-5
        = @match.left_team.name
        %small.text-muted= @match.left_team.fifa_country_code
      .col-2
      .col-5.text-right
        = @match.right_team.name
        %small.text-muted= @match.right_team.fifa_country_code
