%h1 Matches

.row.mb-3
  .col
    = link_to 'Add match',
      new_admin_match_path,
      class: 'btn btn-primary'

.mt-5
.btn.btn-secondary.toggle-finished-matches
  Toggle finished

.mt-5
.row
  - @matches.each do |match|
    - finished_class = match.no_scores? ? '' : 'finished d-none'
    .col-lg-3.col-md-4.col-12.mb-3.match{ class: "#{finished_class}" }
      .card{ data: { href: admin_match_path(match) } }
        .card-body
          .card-title
            .row
              .col-5.col-lg-4.font-weight-bold
                = match.left_team.fifa_country_code
              .col-2.col-lg-4.text-center
                vs
              .col-5.col-lg-4.text-right.font-weight-bold
                = match.right_team.fifa_country_code
          .card-text.mb-3
            .row.display-4
              .col-5.col-lg-4
                = match.left_team_score || ""
              .col-2.col-lg-4.text-center
                \:
              .col-5.col-lg-4.text-right
                = match.right_team_score
          .card-text.text-muted
            = match.phase_before_type_cast
