
.row.mb-3
  .col
    = link_to '< All matches',
      admin_matches_path
.row
  .col Match

.row
  .col
    %h1= "#{@match.left_team.fifa_country_code} vs #{@match.right_team.fifa_country_code}"
.row.mb-2
  .col
    = link_to 'Edit', edit_admin_match_path(@match)


= render 'match_card', match: @match

= link_to 'Set final score',
  new_admin_match_final_score_path(@match),
  class: 'btn btn-primary col-12'


