!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
    %title tippkick.club admin
    = csrf_meta_tags
    = stylesheet_link_tag    'admin/application', media: 'all', 'data-turbolinks-track': 'reload'
  %body
    = render 'layouts/admin/navigation'
    .container-fluid{ role: :main }
      .notice= notice
      - if alert.present?
        .alert= alert
      = yield

    = javascript_include_tag 'admin/application'
