.mt-5
  %h1 Your locker

.mt-4
  .row
    .col
      %small Your nickname is
      %strong.nickname= user.nickname
      %small
        = link_to 'Change',
          edit_user_nickname_path(user),
          class: 'simple-link'

.mt-5
  = render 'unpredicted_matches_box', user: user

- if Match.finished.limit(1).any?
  .mt-4
    %h2 Your stats
    .sinuswave-hr
  = render 'stats', user: user


- if user.squad_invitations.any?
  .mt-5
    %h2.squad_invitations_header
      You have
      = user.squad_invitations.count
      = "invitation".pluralize(user.squad_invitations.count)
    = render 'squad_invitations', squad_invitations: user.squad_invitations

.mt-5
  %h2 Your squads
  .sinuswave-hr
  - if user.squad_accepts.any?
    = render 'squad_members', squad_members: user.squad_accepts
  - else
    .row.mt-3
      .col You are not in any squads yet.

.row.text-center.mt-5
  .col
    .btn-tk
      = link_to 'Create new squad',
        new_squad_path,
        class: 'btn btn-primary'
      .bottom-border

.row.mt-4
  .col
    %small You can create or own squads and then ask friends to join them.
.row.mt-2
  .col
    %small
      Alternatively, you can pass your nickname
      %strong= user.nickname
      to a squad's coach, so they can invite you.
