- if squad_invitations.any?
  .squad_invitations
    - squad_invitations.each do |squad_invitation|
      .card.mb-1.mt-1
        .card-body
          .card-title
            Coach
            = squad_invitation.squad.coach_member.user.player_id
            wants you to join
          .card-text.text-center.display-4.squad-name
            = squad_invitation.squad.name
          .card-text.text-center
            .row.mt-3
              .col-6
                = form_for :accept_invitation, url: squad_accept_invitations_path(squad_invitation.squad) do |f|
                  .btn-tk
                    = f.submit 'Join', class: 'btn btn-success col accept_invitation'
                    .bottom-border
              .col-6
                = form_for :reject_invitation, url: squad_reject_invitations_path(squad_invitation.squad) do |f|
                  .btn-tk
                    = f.submit 'Reject', class: 'btn btn-default col reject_invitation'
                    .bottom-border
