%h1 Your locker

.row
  .col.text-right
    .row.text-right
      .col
        %small
          Your Player ID
    .row.mb-3
      .col
        %small#player-id
          %span.text-muted Copy
          %strong= @user.player_id

= render 'unpredicted_matches_box', user: @user

- if @user.ranking_position.present?
  .mt-4
    %h2 Your stats
    .ranking
      .card.text-center
        .card-body
          .card-text
            .row
              .col-4.ranking-position.stats
                = "#{current_user.ranking_position}"
              .col-4.points-total.stats
                = current_user.points_total
              .col-4.points-match-average.stats
                = current_user.points_match_average.to_f / 100
            .row.mt-2
              .col-4 Global ranking
              .col-4 Total points
              .col-4 Match average


- if current_user.squad_invitations.any?
  .mt-5
    %h2.squad_invitations_header
      You have
      = current_user.squad_invitations.count
      = "invitation".pluralize(current_user.squad_invitations.count)
    = render 'squad_invitations', squad_invitations: current_user.squad_invitations

- if current_user.squads.any?
  .mt-3
    %h2 Your squads
    = render 'squad_members', squad_members: current_user.squad_accepts

.row.text-center.mt-5
  .col
    .btn-tk
      = link_to 'Create new squad',
        new_squad_path,
        class: 'btn btn-primary'
      .bottom-border
