%h1 Your locker

.row
  .col.text-right
    .row.text-right
      .col
        %small
          Your Player ID
    .row.mb-3
      .col
        %small
          %strong= @user.player_id

= render 'unpredicted_matches_box', user: @user

- if @user.ranking_position.present?
  .ranking
    .card.text-center.mb-4
      .card-body
        .card-subtitle.mb-2.text-muted
          Global ranking
        .card-title.display-4
          = "# #{current_user.ranking_position}"
        .card-text.small.text-success
          = "#{current_user.points_total} points"

- if current_user.squad_invitations.any?
  %h2.squad_invitations_header
    You have
    %span.badge.badge-success= current_user.squad_invitations.count
    = "invitation".pluralize(current_user.squad_invitations.count)
  = render 'squad_invitations', squad_invitations: current_user.squad_invitations

- if current_user.squads.any?
  %h2 Your squads
  = render 'squads', squads: current_user.squads

.row.text-center
  .col
    .btn-tk
      = link_to 'Create new squad',
        new_squad_path,
        class: 'btn btn-primary'
      .bottom-border
