.change-password
  %h2 Change your password
  .card.bg-light
    .card-body
      = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
        = devise_error_messages!
        = f.hidden_field :reset_password_token
        .row
          .col
            .form-group
              - if @minimum_password_length
                %em
                  (#{@minimum_password_length} characters minimum)
              = f.password_field :password,
                autofocus: true,
                autocomplete: 'off',
                placeholder: 'Password',
                class: 'form-control'

        .row
          .col
            .form-group
              = f.password_field :password_confirmation,
                autocomplete: 'off',
                placholder: 'Password confirmation',
                class: 'form-control'

        .row
          .col
            .form-group
              = f.submit 'Change my password',
                class: 'btn btn-primary col-sm-12'

  .text-center
    = link_to 'Sign in', new_session_path(resource_name)
    %br/
    = link_to 'Sign up', new_registration_path(resource_name)
