%h1 Global rankings

.mt-5

%h2 Users

.sinuswave-hr

.row.no-gutters.small.text-muted.mt-4
  .col
    \#
  .col-8
    Player
  .col.text-right
    Points
- @top_100_users.each do |user|
  .row.no-gutters.mt-3.mb-3.ci-ranked-user
    .col
      = user.ranking_position || '-'
    .col-8
      .row
        .col
          = link_to user.nickname, user_path(user)
      - if user.points_match_average.present?
        .row
          .col.text-muted
            %span.points-average-with-sign
              = user.points_match_average.to_f / 100
      - if user.ranking_position == 1
        .row
          .col
            %small
              %strong FUSSBALLÜBERGOTT
    .col.text-right
      = user.points_total || '-'

.mt-5

%h2 Squads

.sinuswave-hr

.row.no-gutters.small.text-muted.mt-4
  .col #
  .col-8 Squad
  .col.text-right ⌀ points
- @top_100_squads.each do |squad|
  .row.no-gutters.mt-3.mb-3.ci-ranked-squad
    .col= squad.ranking_position
    .col-8
      .row
        .col= link_to squad.name, squad_path(squad)
      .row
        .col.small.text-muted
          = pluralize(squad.accepted_players_total, 'player')

    .col.text-right= squad.points_average.to_f / 100
