.mt-5
  %h2 Sign in

= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .row.mt-4
    .col
      .form-group
        = f.email_field :email,
          autofocus: true,
          autocomplete: 'email',
          placeholder: 'Email',
          class: 'form-control'
  .row
    .col
      .form-group
        = f.password_field :password,
          autocomplete: 'off',
          placeholder: 'Password',
          class: 'form-control'

  - if devise_mapping.rememberable?
    .row.mt-3
      .col
        .form-group
          = f.check_box :remember_me
          = f.label :remember_me

  .row.mt-3
    .col.text-right
      .form-group
        .btn-tk
          = f.submit 'Sign in',
            class: 'btn btn-primary'
          .bottom-border

  .row.mt-2
    .col.text-right
      = link_to 'Forgot password', new_password_path(resource_name)


