.mt-5.mb-5
  .row
    .col.text-center.tiny-text
      = Match.phases[match_with_prediction.match.phase]

  .row.text-center.mt-3
    .col-4
      .row
        .col
          = inline_svg_tag "flags/#{match_with_prediction.left_team.fifa_country_code.downcase}.svg", size: '50px*50px'
      .row
        .col.smaller-bold
          = match_with_prediction.left_team.fifa_country_code

    .col-4.actual-vs-predicted-score
      .row
        .col
          .row
            .col.tiny-text Actual score
          .row
            .col.score-value
              = match_with_prediction.match.left_team_score
              \:
              = match_with_prediction.match.right_team_score
      .row
        .col
          .row
            .col.tiny-text Predicted score
          .row
            .col.score-value
              = match_with_prediction.prediction.left_team_score
              \:
              = match_with_prediction.prediction.right_team_score

    .col-4
      .row
        .col
          = inline_svg_tag "flags/#{match_with_prediction.right_team.fifa_country_code.downcase}.svg", size: '50px*50px'
      .row
        .col.smaller-bold
          = match_with_prediction.right_team.fifa_country_code

  .row.mt-4.text-center
    .col-2
      .row
        .col.smaller-bold= match_with_prediction.prediction.points_left_team_score
      .row
        .col.tiny-text Left
    .col-2
      .row
        .col.smaller-bold= match_with_prediction.prediction.points_right_team_score
      .row
        .col.tiny-text Right
    .col-2
      .row
        .col.smaller-bold= match_with_prediction.prediction.points_overall_outcome
      .row
        .col.tiny-text Win
    .col-2
      .row
        .col.smaller-bold= match_with_prediction.prediction.points_goal_difference
      .row
        .col.tiny-text Diff
    .col-2
    .col-2
      .row
        .col.smaller-bold= match_with_prediction.prediction.points_total
      .row
        .col.tiny-text Total

