
- kickoff_in_future = match_with_prediction.match.kickoff_at > Time.zone.now
.mt-4.text-center
  .row
    .col
      .ci-kickoff-time
        - if kickoff_in_future
          %small Kickoff in
          %br
          = distance_of_time_in_words(Time.zone.now, match_with_prediction.match.kickoff_at)
        - else
          .text-success.ci-live
            Live

  .row.mt-3
    .col.text-center.tiny-text
      = Match.phases[match_with_prediction.match.phase]

  .row
    .col
      = match_with_prediction.left_team.fifa_country_code
    .col
    .col
      = match_with_prediction.right_team.fifa_country_code

  .row.mt-2
    .col
      = inline_svg_tag "flags/#{match_with_prediction.left_team.fifa_country_code.downcase}.svg",
        class: 'country-flag'
    .col
      .row
        .col.ci-stadium
          = match_with_prediction.venue.name
      .row
        .col.small.ci-city
          = match_with_prediction.venue.city

    .col
      = inline_svg_tag "flags/#{match_with_prediction.right_team.fifa_country_code.downcase}.svg",
        class: 'country-flag'
  .row.small
    .col
      = match_with_prediction.left_team.name
    .col
    .col
      = match_with_prediction.right_team.name

- if kickoff_in_future
  .mt-4
    .score-controls
      .row.no-gutters
        .col.text-center
          .tiny-text.text-muted Your prediction
      .row.no-gutters
        .col.text-center
          .btn-tk
            .btn-group-vertical.btn-group-lg{ role: :group }
              %button.btn.btn-primary{ onclick: "updateScore('left', 'plus', #{match_with_prediction.match.id} );" } +
              %button.btn.btn-primary{ onclick: "updateScore('left', 'minus', #{match_with_prediction.match.id});" } -
            .bottom-border

        .col.text-center
          %span.predicted-score.left-team-score
            = match_with_prediction.prediction.left_team_score
          \:
          %span.predicted-score.right-team-score
            = match_with_prediction.prediction.right_team_score

        .col.text-center
          .btn-tk
            .btn-group-vertical.btn-group-lg{ role: :group }
              %button.btn.btn-primary{ onclick: "updateScore('right', 'plus', #{match_with_prediction.match.id} );" } +
              %button.btn.btn-primary{ onclick: "updateScore('right', 'minus', #{match_with_prediction.match.id});" } -
            .bottom-border
  - unless match_with_prediction.match.group_stage?
    .mt-3
      .row.no-gutters.text-center
        .col.tiny-text
          The score
          %strong before
          the penalty shootout counts. It can be a tie (i.e. 1:1).

- else
  .mt-4
    .score-controls
      .row.no-gutters
        .col.text-center
          .tiny-text.text-muted Your prediction
      .row.no-gutters
        .col.text-center
          %span.predicted-score.left-team-score
            = match_with_prediction.prediction.left_team_score
          \:
          %span.predicted-score.right-team-score
            = match_with_prediction.prediction.right_team_score

.mt-4
