%h1 Bookies


%h2 Group stage

.matches-with-predictions
  - @matches_with_predictions.each do |match_with_prediction|
    .card.match-with-prediction
      .card-body
        .row
          .col.text-center.fifa-country-code
            = match_with_prediction.left_team.fifa_country_code
          .col
          .col.text-center.fifa-country-code
            = match_with_prediction.right_team.fifa_country_code
        .row
          .col.text-center
            = inline_svg "flags/#{match_with_prediction.left_team.fifa_country_code.downcase}.svg", size: '50px*50px'
          .col.text-center.actual-result
            = match_with_prediction.match.left_team_score
            \:
            = match_with_prediction.match.right_team_score
          .col.text-center
            = inline_svg "flags/#{match_with_prediction.right_team.fifa_country_code.downcase}.svg", size: '50px*50px'
        .row
          - if match_with_prediction.predicted?
            .col.text-center.predicted-result.text-muted
              %span{ id: "predicted_left_team_score_span_#{match_with_prediction.prediction.id}" }
                = match_with_prediction.prediction.left_team_score
              \:
              %span{ id: "predicted_right_team_score_span_#{match_with_prediction.prediction.id}" }
                = match_with_prediction.prediction.right_team_score
          - else
            .col.text-center.predicted-result.text-success
              Predict now!
      .card-body
        = render 'matches/predictions/form', prediction: match_with_prediction.prediction
