= form_for squad, html: { class: 'form' } do |form|
  .form-group.mb-5.mt-4
    = form.text_field :name,
      class: "form-control #{bs_invalid_class(form.object)}",
      placeholder: 'Name'
    - if form.object.errors.has_key?(:name)
      - form.object.errors.full_messages_for(:name).each do |full_message|
        .text-danger
          = full_message

  .row
    .col.text-right
      .btn-tk
        = form.submit nil,
          class: 'btn btn-primary'
        .bottom-border
