%h1 Squads

= link_to 'Create Squad', new_squad_path, class: 'btn btn-primary'

- if @invited_squads.any?
  %h2 Invitations

  .squad_invitations
    - @invited_squads.each do |invited_squad|
      .card.mb-1.mt-1
        .card-body
          .card-text You have an invitation from
          .card-title.display-4
            = invited_squad.name
          .card-text
            Coach
            = invited_squad.coach_member.user.nickname
          .card-text
            .row
              .col-6
                = form_for :accept_invitation, url: squad_accept_invitations_path(invited_squad) do |f|
                  = f.submit 'Accept', class: 'btn btn-success col accept_invitation'
              .col-6
                = form_for :reject_invitation, url: squad_reject_invitations_path(invited_squad) do |f|
                  = f.submit 'Reject', class: 'btn btn-default col reject_invitation'

- if @accepted_squads.any?
  %h2 Your squads

  .squads
    - @accepted_squads.each do |accepted_squad|
      .card.mb-1.mt-1
        .card-body
          .card-text
            = link_to accepted_squad.name, squad_path(accepted_squad)
          .card-text
            = 'Coach' if accepted_squad.coach_member.user == current_user
