
.row.mt-4
  .col= link_to 'Back to your locker', authenticated_root_path

.mt-4
  %h1.inline-block= @squad.name
  - if policy(@squad).edit?
    %small.edit= link_to 'Edit', edit_squad_path(@squad)


- if policy(@squad).edit?
  .mt-5
    %h3 Invite by searching
    .row.mt-5
      .col.text-center
        .btn-tk
          = link_to 'Search and invite friend',
            new_squad_member_invitation_path(@squad),
            class: 'btn btn-primary'
          .bottom-border
    .row.mt-3
      .col.small
        Ask your friends for their Nickname in order to send them an invitation to join.

  .mt-5
    %h3 Invitation link

  .mt-3
    .row
      .col.text-center
        = link_to squad_invitation_link(@squad),
          squad_invitation_link(@squad),
          class: 'simple-link invitation-link'
  .mt-4
    .row
      .col.small
        Send this link to your friends, they will automatically be added to the squad when they open it.


- if Match.finished.limit(1).any?
  .mt-5
    %h2 Squad stats
    .sinuswave-hr

    .card.text-center.mt-4
      .card-body
        .card-text
          .row
            .col-4.ranking-position.stats
              = "#{@squad.ranking_position}"
            .col-4.points-total.stats
              = @squad.points_total
            .col-4.points-average.stats
              = @squad.points_average.to_f / 100
          .row
            .col Global ranking
            .col Total points
            .col Average points

- if policy(@squad).show_members?
  .mt-5
    %h2 Players rankings
    .sinuswave-hr
    = render 'squad_members', squad_members: @squad.squad_members.invited_or_accepted.ordered
