.mt-4.text-center
  = link_to 'Back', :back

.mt-5.text-center
  = inline_svg 'logo.svg', class: 'tk-logo-large'

.mt-3
  %h2 What is TippKick?
  .sinuswave-hr

.row.text-center
  .col-10.offset-1

    .row.mt-5
      .col
        %strong TippKick
        is a
        %strong free
        and
        %strong fun
        betting game for the
        %strong Soccer World Cup 2018 in Russia!

    .sinuswave-hr-tiny.mt-3.mb-3

    .row
      .col
        Simply register with your email and start predicting the matches for the world cup.

    .sinuswave-hr-tiny.mt-3.mb-3

    .row
      .col
        %strong Create your own squads
        and invite your friends, so you can compete against each other.
        Leaders in a squad will get the title
        .mt-2
          %strong FUSSBALLGOTT

    .sinuswave-hr-tiny.mt-3.mb-3

    .row
      .col
        You can predict matches
        = succeed '.' do
          %strong until the minute before the kick off
        .mt-2
          You can change a prediction before a match, even during the tournament.
        .mt-2
          = succeed '.' do
            %strong Make sure you don't miss any predictions though

    .sinuswave-hr-tiny.mt-3.mb-3

    .row
      .col-12
        TippKick uses a
        = succeed ',' do
          %strong fun
        %strong fair
        and
        %strong unique
        rule on how you get points for your correct predictions.
      .col-12.mt-3.mb-3
        %ul
          %li
            = succeed '.' do
              You earn
              %strong 5 points
              for predicting the
              %strong overall outcome of a match correctly
          %li.mt-2.mb-2
            = succeed '.' do
              You earn
              %strong 2 points
              for predicting a
              %strong< score of a team correctly
          %li
            = succeed '.' do
              You earn
              %strong 1 point
              for predicting the
              %strong goal difference
              correctly
      .col-12
        You can earn up to
        %strong 10 points
        for each match.

.mt-5
  %h2 Privacy
  .sinuswave-hr

.row.mt-5.text-center
  .col-10.offset-1
    .row
      .col-12
        In order to use TippKick you must provide an
        %strong email address
        and a
        %strong password
        to sign up and sign in.

    .sinuswave-hr-tiny.mt-3.mb-3

    .row
      .col-12
        = succeed '.' do
          That's all we need
          %strong to identify you

        In case you
        = succeed ',' do
          %strong forgot your password
        we will send you an email with
        = succeed '.' do
          %strong instructions to reset it
        %br
        This is the
        %strong only kind of mail
        you will ever get from us. We do not spam you to death with notifications.

    .sinuswave-hr-tiny.mt-3.mb-3

    .row
      .col-12
        %strong LPT:
        %br
        Choose your passwords wisely, avoid reusing passwords.

    .sinuswave-hr-tiny.mt-3.mb-3

    .row
      .col-12
        We do not store your password as plain text. We
        %strong encrypt them
        and cannot decrypt them again.

    .sinuswave-hr-tiny.mt-3.mb-3

    .row
      .col-12
        We
        = succeed '.' do
          %strong do not give away your email address
        We are not this kind of folks.

    .sinuswave-hr-tiny.mt-3.mb-3

    .row
      .col-12
        By the end of year 2018, we are going to
        = succeed '.' do
          %strong permanently delete the application and all its data
        We wont keep any backups either.

.mt-5
  %h2 Who are we?

.sinuswave-hr

.row.text-center.mt-5
  .col-10.offset-1
    .row
      .col
        We are two fellas from
        %strong Aarau, Switzerland
        who enjoy creating.

    .sinuswave-hr-tiny.mt-3.mb-3

    .row
      .col
        One creates the
        = succeed ',' do
          %strong code
        the other creates the
        = succeed '.' do
          %strong visual

    .sinuswave-hr-tiny.mt-3.mb-3

    .row
      .col
        We both create
        = succeed '.' do
          %strong ideas and visions

    .sinuswave-hr-tiny.mt-3.mb-3

    .row
      .col
        We have absolutely
        %strong no commercial intent
        on this project.

    .sinuswave-hr-tiny.mt-3.mb-3

    .row
      .col
        We made this application to
        %strong learn
        and for
        = succeed '.' do
          %strong fun

    .sinuswave-hr-tiny.mt-3.mb-3

    .row
      .col
        The source code for this application is
        %strong open sourced
        (MIT License)
        and available for free on
        = succeed '.' do
          = link_to 'GitHub',
            'https://github.com/lxxxvi/maradona',
            class: 'simple-link'

    .sinuswave-hr-tiny.mt-3.mb-3

    .row
      .col
        We are very sorry for any bugs.
        %strong Let us know
        if you find one (see email address below).

    .sinuswave-hr-tiny.mt-3.mb-3

    .row
      .col
        If you have comments, questions or love to share
        please write us an email to
    .row.mt-3
      .col
        = mail_to 'tippkick.club@gmail.com', nil, class: 'simple-link'

.mt-5
  %h2 Credits
  .sinuswave-hr

.row.text-center.mt-5
  .col-10.offset-1
    .row
      .col This project would not have been possible without

    .row.mt-3
      .col
        %ul
          %li Ruby
          %li Ruby on Rails
          %li Bootstrap
          %li Font Awesome
          %li Heroku
          %li Cloudflare
          %li Sublime Text
          %li GitHub
          %li Travis CI
          %li Trello
          %li GNU

    .sinuswave-hr-tiny.mt-3.mb-3

    .row
      .col
        %strong Made with love.

    .sinuswave-hr-tiny.mt-3.mb-3
