!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1.0, user-scalable=0", :name => "viewport"}/
    %title tippkick.club
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = render 'layouts/favicon'
  %body
    .d-flex.flex-column.h-100
      = render 'layouts/navigation'

      %main.container.d-flex.flex-column{ role: :main }
        .notice= notice
        - if alert.present?
          .alert= alert
        = yield

      = render 'layouts/footer'

    = javascript_include_tag 'application'
